﻿@model AvaliacaoSawluz.Data.Models.MenuItem

@{
    ViewBag.Title = "Cadastro de Prato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>CADASTRO DE PRATO</h3>


@using (Html.BeginForm("Create", "Menu", FormMethod.Post, new { id = "createForm" }))
{
    @Html.AntiForgeryToken()
    if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
    {
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @Html.ValidationSummary(false)
        </div>
    }
    <div class="well">
        <fieldset class="col-md-12" >
            <legend>Dados</legend>
            <div class="col-md-12" style="z-index:5;">
                <label class="control-label col-md-12">Restaurante :</label>
                <div class="col-md-5">
                    @Html.DropDownList("RestaurantId", (List<SelectListItem>)ViewBag.Restaurants, new {  @class = "col-md-12 dropdown" })
                </div>
            </div>
            <div class="col-md-12" style="z-index:4;">
                <label class="control-label col-md-12">Nome :</label>
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "col-md-12" } })
                </div>
            </div>
            <div class="col-md-12" style="z-index:3;">
                <label class="control-label col-md-12">Preço :</label>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "col-md-12 numeric" } })
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <a href="@Url.Action("Index","Menu")" class="btn btn-sm btn-danger col-md-2" style="margin-right:2vw;"><i class="fa fa-undo"></i>&nbsp;Cancelar</a>
                <button type="submit" id="save" class="btn btn-sm btn-success col-md-2"><i class="fa fa-floppy-o"></i>&nbsp;Salvar</button>
            </div>
        </fieldset>
    </div>
}

@section scripts{
    <script>
        $("#Price").on("keyup", function () {
            $(this).val(FormatField($(this).val()));
        });

        $('#createForm').on('submit', function (e) {
            if ($('#Name').val() == '') {
                alert("Nome é um campo obrigatório");
                e.preventDefault();
            }
        })


    </script>
}