﻿@model IEnumerable<AvaliacaoSawluz.Data.Models.MenuItem>

@{
    ViewBag.Title = "Pratos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

</style>
<h3>PRATOS</h3>
<div class="row">
    <a href="@Url.Action("Create","Menu")" class="btn btn-sm btn-success col-md-2" style="margin-left:2vw;"><i class="fa fa-plus"></i>&nbsp;Cadastrar novo Prato</a>
</div>
<br /><br />
<table id="restaurants" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="col-md-1">&nbsp;</th>
            <th class="col-md-1">&nbsp;</th>
            <th class="col-md-6">
                @Html.DisplayNameFor(model => model.Restaurant.Name)
            </th>
            <th class="col-md-6">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="col-md-6">
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    <i class="fa fa-minus remove-item" title="Excluir" data-url="@Url.Action("Delete","Menu",new { id= item.Id })" style="color:red;"></i>
                </td>
                <td class="text-center">
                    <i class="fa fa-pencil edit-item" title="Editar" data-url="@Url.Action("Edit","Menu",new { id= item.Id })" style="color:cornflowerblue;"></i>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Restaurant.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="row text-right">
                        @(string.Format("{0:N}", item.Price))
                </td>
            </tr>
        }
    </tbody>

</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#restaurants').DataTable({
                paging: false,
                autoWidth: true,
                info: false,
                lengthChange: false,
                ordering: false,
                searching: false,
                pageLength: 15
            });

            $('.edit-item').on('click', function () {
                var url = $(this).data('url');
                location.href = url;
            });
            $('.remove-item').on('click', function () {
                var url = $(this).data('url');
                $.getJSON(url, function (result) {
                    if (result == "Success") {
                        location.reload(true);
                    } else {
                        alert("Ocorreu um erro ao remover o item selecionado");
                    }
                });
            });
        })
    </script>
}