﻿@{
    ViewBag.Title = "Inicial";
}



<div class="row vertical-center">
    <div class="col-md-12 text-center">
        <img src="~/Content/Images/18292985-kebab--grilled-meat-bread-and-vegetables.jpg" style="width:250px;height:150px;" />
        <br />
        <br />
        <p><label>SISTEMA DE CADASTRO DE RESTAURANTES</label></p>
    </div>
</div>
