﻿@model AvaliacaoSawluz.Data.Models.Restaurant

@{
    ViewBag.Title = "Cadastro de Restaurante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>CADASTRO DE RESTAURANTE</h3>


@using (Html.BeginForm("Edit", "Restaurant", FormMethod.Post, new { id = "createForm" }))
{
    @Html.HiddenFor(model => model.Id)
    @Html.AntiForgeryToken()
    if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
    {
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @Html.ValidationSummary(false)
        </div>
    }
    <div class="well">
        <fieldset class="col-md-12">
            <legend>Dados</legend>
            <label class="control-label col-md-1">Nome :</label>
            <div class="col-md-5">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "col-md-12" } })
            </div>
            <br />
            <br />
            <div class="row">
                <a href="@Url.Action("Index","Restaurant")" class="btn btn-sm btn-danger col-md-2" style="margin-right:2vw;"><i class="fa fa-undo"></i>&nbsp;Cancelar</a>
                <button type="submit" id="save" class="btn btn-sm btn-success col-md-2"><i class="fa fa-floppy-o"></i>&nbsp;Salvar</button>
            </div>
        </fieldset>
    </div>
}

@section scripts{
    <script>
        $('#createForm').on('submit', function (e) {
            if ($('#Name').val() == '') {
                alert("Nome é um campo obrigatório");
                e.preventDefault();
            }
        })
    </script>
}