﻿@model IEnumerable<AvaliacaoSawluz.Data.Models.Restaurant>

@{
    ViewBag.Title = "Restaurantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>RESTAURANTES</h3>
@using (Html.BeginForm("Search", "Restaurant", FormMethod.Post, new { @class = "form-inline" }))
{
    <div class="well">
        <fieldset class="col-md-12">
            <legend>Filtros</legend>
            <label class="control-label col-md-1">Nome :</label>
            @Html.TextBox("Name", (string)ViewBag.Name, new {@class="col-md-5" })
            <br />
            <br />
            <div class="row">
                <button type="submit" class="btn btn-sm btn-primary col-md-2"><i class="fa fa-search"></i>&nbsp;Pesquisar</button>
                <a href="@Url.Action("Create","Restaurant")" class="btn btn-sm btn-success col-md-2" style="margin-left:2vw;"><i class="fa fa-plus"></i>&nbsp;Cadastrar novo Restaurante</a>
            </div>
        </fieldset>

    </div>
}
<table id="restaurants" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="col-md-1">&nbsp;</th>
            <th class="col-md-1">&nbsp;</th>
            <th class="col-md-10">
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    <i class="fa fa-minus remove-item" title="Excluir" data-url="@Url.Action("Delete","Restaurant",new { id= item.Id })" style="color:red;"></i>
                </td>
                <td class="text-center">
                    <i class="fa fa-pencil edit-item" title="Editar" data-url="@Url.Action("Edit","Restaurant",new { id= item.Id })" style="color:cornflowerblue;"></i>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

            </tr>
        }
    </tbody>

</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#restaurants').DataTable({
                paging: false,
                autoWidth: true,
                info: false,
                lengthChange: false,
                ordering: false,
                searching: false,
                pageLength: 15
            });

            $('.edit-item').on('click', function () {
                var url = $(this).data('url');
                location.href = url;
            });
            $('.remove-item').on('click', function () {
                var url = $(this).data('url');
                $.getJSON(url, function (result) {
                    if (result == "Success") {
                        location.reload(true);
                    } else {
                        alert("Ocorreu um erro ao remover o item selecionado");
                    }
                });
            });
        })
    </script>
}